<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <h2>What is Community Theatre Thrives?</h2>
            <p>
                Nearly 20 all-volunteer theatres from DC, Maryland and Virginia are coming together for a two-day
                fundraising telethon, to ensure that local performing arts continue to thrive in the Washington DC
                region for years to come. This one-time event is being coordinated by the Reston Community Players, one
                of the region's most established all-volunteer theatre companies.
            </p>
        </div>
        <div class="col-lg-3">
            <h3>Where</h3>
            <p>Watch live HERE or on YouTube.</p>
        </div>
        <div class="col-lg-3">
            <h3>When</h3>
            <p>Friday, July 17 &<br />Saturday July 18, 2020</p>
        </div>
    </div>
</div>