<div class="container">
    <div class="section-header">
        <h2>Donate</h2>
        <p>Support DC Community Theatre with your donation!</p>
    </div>

    <form action="javascript:void(0)" class="container theme-background-white main-body">
        <div class="col-md-12">
            {{!-- AMOUNT --}}
            <div class="row donate-bar">
                <div class="col-md-4 theme-blue">
                    GIVE WHERE NEEDED MOST
                </div>
                <div class="col-md-8">
                    <ul class="nav donate-buttons" id="donate-buttons">
                        <li><a>
                                <button class="btn-blue active" data-dollars='25'
                                    data-impact="Covers housing or counseling services for one person">
                                    $25
                                </button>
                            </a></li>
                        <li><a>
                                <button class="btn-blue" data-dollars='50'
                                    data-impact="Covers housing or counseling services for two people">
                                    $50
                                </button>
                            </a></li>
                        <li><a>
                                <button class="btn-blue" data-dollars='100'
                                    data-impact="Covers housing or counseling services for four people">
                                    $100
                                </button>
                            </a></li>
                        <li><a>
                                <button class="btn-blue" data-dollars='500'
                                    data-impact="Covers housing or counseling services for twenty people">
                                    $500
                                </button>
                            </a></li>
                        <li id="donate-other"><a>
                                <button class="btn-blue-other" data-dollars='other' data-impact="Thank you!">
                                    OTHER
                                </button>
                            </a></li>
                        <li id="donate-other-input">
                            <span>$</span>
                            <input data-impact="That’s great. Thank you!">
                        </li>
                    </ul>
                    <div id="validation"></div>
                    {{!-- <p class="impact">
                            Covers housing or counseling services for one person
                        </p> --}}
                </div>
            </div>
            <div class="row">
                <input type="checkbox" id="fees" name="fees" value="true" checked>
                <label for="fees"> I'd like to cover all transaction fees so 100% of my donation goes to
                    Community Theatre
                    Thrives.</label>
            </div>
            <div class="row">
                Donation Amount:
                <p id="amount"></p>
            </div>
            {{!-- PATRON INFORMATION --}}
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="email">Email address</label>
                        <input type="email" class="form-control" id="email" placeholder="you@example.com">
                        <span id="help-email" class="help-block"></span>
                    </div>
                    <div class="form-group">
                        <label for="billing-phone">Billing phone number</label>
                        <input type="billing-phone" class="form-control" id="billing-phone" placeholder="123-456-7890">
                        <span id="help-billing-phone" class="help-block"></span>
                    </div>
                    <div class="form-group">
                        <label for="billing-given-name">Billing given name</label>
                        <input type="billing-given-name" class="form-control" id="billing-given-name"
                            placeholder="First">
                        <span id="help-billing-given-name" class="help-block"></span>
                    </div>
                    <div class="form-group">
                        <label for="billing-surname">Billing surname</label>
                        <input type="billing-surname" class="form-control" id="billing-surname" placeholder="Last">
                        <span id="help-billing-surname" class="help-block"></span>
                    </div>
                    <div class="form-group">
                        <label for="billing-street-address">Billing street address</label>
                        <input type="billing-street-address" class="form-control" id="billing-street-address"
                            placeholder="123 Street">
                        <span id="help-billing-street-address" class="help-block"></span>
                    </div>
                    <div class="form-group">
                        <label for="billing-extended-address">Billing extended address</label>
                        <input type="billing-extended-address" class="form-control" id="billing-extended-address"
                            placeholder="Unit 1">
                        <span id="help-billing-extended-address" class="help-block"></span>
                    </div>
                    <div class="form-group">
                        <label for="billing-locality">Billing locality</label>
                        <input type="billing-locality" class="form-control" id="billing-locality" placeholder="City">
                        <span id="help-billing-locality" class="help-block"></span>
                    </div>
                    <div class="form-group">
                        <label for="billing-region">Billing region</label>
                        <input type="billing-region" class="form-control" id="billing-region" placeholder="State">
                        <span id="help-billing-region" class="help-block"></span>
                    </div>
                    <div class="form-group">
                        <label for="billing-postal-code">Billing postal code</label>
                        <input type="billing-postal-code" class="form-control" id="billing-postal-code"
                            placeholder="12345">
                        <span id="help-billing-postal-code" class="help-block"></span>
                    </div>
                    <div class="form-group">
                        <label for="billing-country-code">Billing country code (Alpha 2)</label>
                        <input type="billing-country-code" class="form-control" id="billing-country-code"
                            placeholder="XX">
                        <span id="help-billing-country-code" class="help-block"></span>
                    </div>
                </div>
            </div>
            {{!-- BRAINTREE DROP IN PAYMENT --}}
            <div id="dropin-wrapper">
                <div id="checkout-message"></div>
                <div id="dropin-container"></div>
                <button id="submit-button">Submit payment</button>
            </div>
        </div>
    </form>