<div class="container">
    <div class="section-header">
        <h2>Donate</h2>
        <p>Support DC Community Theatre with your donation!</p>
    </div>

    <form id="payment-form" action="javascript:void(0)" class="container theme-background-white main-body">
        {{!-- <div class="col-md-12"> --}}
        {{!-- AMOUNT --}}
        <div id="donation-amount">
            <div class="row donate-bar">
                <div class="col-md-4 theme-blue">
                    GIVE WHERE NEEDED MOST
                </div>
                <div class="col-md-8">
                    <ul class="nav donate-buttons" id="donate-buttons">
                        <li><a>
                                <button class="btn-blue active" data-dollars='25'
                                    data-impact="Covers housing or counseling services for one person">
                                    $25
                                </button>
                            </a></li>
                        <li><a>
                                <button class="btn-blue" data-dollars='50'
                                    data-impact="Covers housing or counseling services for two people">
                                    $50
                                </button>
                            </a></li>
                        <li><a>
                                <button class="btn-blue" data-dollars='100'
                                    data-impact="Covers housing or counseling services for four people">
                                    $100
                                </button>
                            </a></li>
                        <li><a>
                                <button class="btn-blue" data-dollars='500'
                                    data-impact="Covers housing or counseling services for twenty people">
                                    $500
                                </button>
                            </a></li>
                        <li id="donate-other"><a>
                                <button class="btn-blue-other" data-dollars='other' data-impact="Thank you!">
                                    OTHER
                                </button>
                            </a></li>
                        <li id="donate-other-input">
                            <span>$</span>
                            <input data-impact="That’s great. Thank you!">
                        </li>
                    </ul>
                    <div id="validation"></div>
                    {{!-- <p class="impact">
                            Covers housing or counseling services for one person
                        </p> --}}
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 mb-3">
                    <h5>Donation Amount:</h5>
                </div>
                <div class="col-md-3 mb-3">
                    <h3 id="amount"></h3>
                </div>
                <div class="col-md-6 mb-3">
                    <input type="checkbox" id="fees" name="fees" value="true" checked>
                    <label for="fees"> I'd like to cover all transaction fees so 100% of my donation goes to
                        Community Theatre
                        Thrives.</label>
                </div>
            </div>
            <i>All donations made during this telethon will be shared by all participating community theatre
                members.</i>
            <hr />
        </div>
        {{!-- <div id="donation-theatres">
            <h4 class="mb-3">Theatres</h4>
            Are you interested in learning more about any of our participating theatres?
            <br />
            <select id="theatre" name="theatre" class="selectpicker" multiple data-live-search="true"
                data-actions-box="true" data-selected-text-format="count > 3" title="None selected">
                <option value="ASGT" data-subtext="ASGT" data-tokens="ASGT">Annapolis Summer Garden Theatre</option>
                <option value="TAP" data-subtext="TAP" data-tokens="TAP">The Arlington Players</option>
                <option value="CFTC" data-subtext="CFTC" data-tokens="CFTC">The City of Fairfax Theatre Company</option>
                <option value="CPA" data-subtext="CPA" data-tokens="CPA">The Colonial Players of Annapolis</option>
                <option value="FCT" data-subtext="FCT" data-tokens="FCT">Fauquier Community Theatre</option>
                <option value="HBP" data-subtext="HBP" data-tokens="HBP">The Hard Bargain Players</option>
                <option value="KAT" data-subtext="KAT" data-tokens="KAT">Kensington Arts Theatre</option>
                <option value="LMP" data-subtext="LMP" data-tokens="LMP">Laurel Mill Playhouse</option>
                <option value="PWLT" data-subtext="PWLT" data-tokens="PWLT">Prince William Little Theatre</option>
                <option value="RCP" data-subtext="RCP" data-tokens="RCP">Reston Community Players</option>
                <option value="RLT" data-subtext="RLT" data-tokens="RLT">Rockville Little Theatre</option>
                <option value="SSS" data-subtext="SSS" data-tokens="SSS">Silver Spring Stage</option>
                <option value="SP" data-subtext="SP" data-tokens="SP">Sterling Playmakers</option>
                <option value="VLOC" data-subtext="VLOC" data-tokens="VLOC">The Victorian Lyric Opera Company</option>
            </select>
            <hr />
        </div> --}}

        {{!-- STRIPE --}}
        <div id="stripe">
            <input class="stripe" type="text" id="email" placeholder="Email address" />
            <div id="card-element">
                <!--Stripe.js injects the Card Element-->
            </div>
            <button id="submit">
                <div class="spinner hidden" id="spinner"></div>
                <span id="button-text">GIVE NOW</span>
            </button>
            <p id="card-error" role="alert"></p>
            <p class="result-message hidden">
                Payment succeeded, see the result in your
                <a href="" target="_blank">Stripe dashboard.</a> Refresh the page to pay again.
            </p>
        </div>

        <div id="loading-error" class="hidden">
            <p>An error has occurred. Please reload the page to try again.</p>
        </div>

        {{!-- LEGAL --}}
        <div id="donation-legal">
            By clicking GIVE NOW, I agree to the <a href="https://stripe.com/ssa" target="_blank">Terms of
                Service</a> and <a href="https://stripe.com/privacy" target="_blank">Privacy Policy</a>
        </div>
        {{!-- </div> --}}
    </form>
</div>