<div class="container">
    <div id="logo" class="pull-left">
        <!-- Uncomment below if you prefer to use a text logo -->
        <!-- <h1><a href="#intro">The<span>Event</span></a></h1>-->
        <a href="/#home" class="scrollto"><img src="assets/img/logo.png" alt="" title="" /></a>
    </div>

    <nav id="nav-menu-container">
        <ul class="nav-menu">
            <li class="menu-active"><a href="/#home">Home</a></li>
            <li><a href="/#about">About</a></li>
            <li><a href="/#why">Why</a></li>
            <li><a href="/#participants">Participants</a></li>
            <li><a href="/#schedule">Schedule</a></li>
            <li><a href="/#contact">Contact Us</a></li>
            <li class="social">
                <a href="https://www.facebook.com/theatrethrives" target="_blank" class="facebook">
                    <i class="fa fa-facebook"></i></a>
            </li>
            <li class="social">
                <a href="https://twitter.com/TheatreThrives" target="_blank" class="twitter">
                    <i class="fa fa-twitter"></i></a>
            </li>
            <li class="donate-header">
                <a href="/donate.html" target="_blank"><i class="fa fa-heart"></i> Donate</a>
            </li>

            {{!-- <li><a href="#schedule">Schedule</a></li>
            <li><a href="#venue">Venue</a></li>
            <li><a href="#hotels">Hotels</a></li>
            <li><a href="#gallery">Gallery</a></li>
            <li><a href="#supporters">Sponsors</a></li>
            <li><a href="#donate">Donate</a></li> --}}
        </ul>
    </nav>
    <!-- #nav-menu-container -->
</div>