<div class="intro-container wow fadeIn">
    <h1 class="mb-4 pb-0">Community<br /><span>Theatre</span> Thrives</h1>
    <p class="mb-4 pb-0">
        July 17-19, 2020
    </p>
    {{!-- <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="venobox play-btn mb-4" data-vbtype="video"
        data-autoplay="true"></a> --}}
    {{!-- <a href="#about" class="about-btn scrollto">About The Event</a> --}}

    <div class="rounded bg-gradient-1 text-white shadow p-5 text-center mb-5">
        <p class="mb-4 font-weight-bold text-uppercase">The live event begins in</p>
        <div id="clock" class="countdown-circles d-flex flex-wrap justify-content-center pt-4"></div>
    </div>
</div>