<div class="intro-container wow fadeIn">

    {{!-- <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="venobox play-btn mb-4" data-vbtype="video"
        data-autoplay="true"></a> --}}
    {{!-- <a href="#about" class="about-btn scrollto">About The Event</a> --}}

    {{!-- CTT LOGO --}}
    <div class="row justify-content-center">
        <div class="col-lg-7">
            <img src="assets/img/logo.png" class="img-responsive fit-image">

            {{!-- COUNTDOWN --}}
            <div class="col p-5 text-center mb-5">
                <h2 class="mb-4 font-weight-bold">July 17-19, 2020</h2>
                <h4 class="mb-4 font-weight-bold text-uppercase">The live event begins in</h4>
                <div id="clock" class="countdown-circles d-flex flex-wrap justify-content-center pt-4"></div>
            </div>
        </div>
    </div>


    {{!-- GALLERY --}}
    {{!-- <div class="row justify-content-center">
        <div class="col owl-carousel gallery-carousel">
            <a href="assets/img/gallery/1.jpg" class="venobox" data-gall="gallery-carousel"><img
                    src="assets/img/gallery/1.jpg" alt="" /></a>
            <a href="assets/img/gallery/2.jpg" class="venobox" data-gall="gallery-carousel"><img
                    src="assets/img/gallery/2.jpg" alt="" /></a>
            <a href="assets/img/gallery/3.jpg" class="venobox" data-gall="gallery-carousel"><img
                    src="assets/img/gallery/3.jpg" alt="" /></a>
            <a href="assets/img/gallery/4.jpg" class="venobox" data-gall="gallery-carousel"><img
                    src="assets/img/gallery/4.jpg" alt="" /></a>
            <a href="assets/img/gallery/5.jpg" class="venobox" data-gall="gallery-carousel"><img
                    src="assets/img/gallery/5.jpg" alt="" /></a>
            <a href="assets/img/gallery/6.jpg" class="venobox" data-gall="gallery-carousel"><img
                    src="assets/img/gallery/6.jpg" alt="" /></a>
            <a href="assets/img/gallery/7.jpg" class="venobox" data-gall="gallery-carousel"><img
                    src="assets/img/gallery/7.jpg" alt="" /></a>
            <a href="assets/img/gallery/8.jpg" class="venobox" data-gall="gallery-carousel"><img
                    src="assets/img/gallery/8.jpg" alt="" /></a>
        </div>
    </div> --}}
</div>