<div class="container">
    <div class="section-header">
        <h2>WHY WE NEED COMMUNITY THEATRE THRIVES</h2>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <p>
                The Washington, DC region is home to one of the most robust performing arts communities in the nation.
                From Annapolis to Northern Virginia and everywhere in between, dozens of local community theatre groups
                have thrived. These companies operate with the time and talents of thousands of volunteers to produce
                hundreds of high-quality shows each year.
            </p>
            <p>
                In addition to the much needed funds to keep these companies open, Community Theatre Thrives seeks to
                raise awareness of the incredible passion, talent, generosity and dedication of the volunteers who make
                community theatre here in the DMV possible. As COVID-19 has forced us all to adapt to a new reality of
                social distancing, this unique event is bringing together nearly 20 local performing arts groups from
                DC, Maryland and Virginia for a livestream telethon.
            </p>
            <p>
                The performing arts are critical to the overall health of our society, especially in times of hardship.
                Theatre in particular is vitally important as it transports us and sparks our imagination. It reminds us
                of our potential, rekindles our sense of optimism, and brings to life stories that showcase our
                resilience. Community theatre does all of this and more while striving to make performances affordable
                and accessible to everyone.
            </p>
            <h4>
                We need theatre in our communities, and right now, community theatre needs us.
            </h4>
        </div>
    </div>
</div>